
/* @import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic'); */

.header_logo{
    width: 13%;
    height: auto;
    margin: 5px 0px 5px 5px;
}

a{
    text-decoration: none;
}


/* ハンバーガーメニュー */
.hamburger-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger-overlay__line {
  position: absolute;
  left: 11px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  transition: all .6s;
}

.hamburger-overlay__line:nth-of-type(1) { top: 14px; }
.hamburger-overlay__line:nth-of-type(2) { top: 23px; }
.hamburger-overlay__line:nth-of-type(3) { top: 32px; }

.hamburger-overlay.active .hamburger-overlay__line {
  background-color: #fff;
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
  opacity: 0;
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(117, 117, 117, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: all .6s;
  z-index: 900;
}

.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav-overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav-overlay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-overlay__item {
  opacity: 0;
  transform: translateY(20px);
  transition: all .6s;
}

.nav-overlay.active .nav-overlay__item {
  opacity: 1;
  transform: translateY(0);
}

.nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
.nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
.nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
.nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }
.nav-overlay.active .nav-overlay__item:nth-child(5) { transition-delay: 0.5s; }

.nav-overlay__link {
  display: inline-block;
  padding: 20px;
  color: #ffffff;
  font-size: 150x;
  text-decoration: none;
  transition: color .3s;
}


/* 公演情報 */

body{
  /* background-color: #1c1616; */
    background-color: rgba(117, 117, 117, 0.95);
    font-family: 'Sawarabi Mincho', sans-serif;
}
.url{
  color:#8cedfa;
}

.story{
font-family: "Noto Sans JP", sans-serif;
  /* font-optical-sizing: auto; */
}

.mtm_img{
    display: flex;
    margin: 5% 5%;
}
.mtmO{
    margin: 0 2%;
    width: 45%;
    box-shadow: 7px 10px 10px rgba(0,0,0,0.3);
}
.mtmU{
    margin: 0 2%;
    width: 45%;
    box-shadow: 7px 10px 10px rgba(0,0,0,0.3);
}

.artsLogo{
  width: 60px;
}

.info{
  margin: 5%;
  font-size: small;
  line-height: 1;
  color: #fff;
}

.title{
  text-align: center;
}
/* .date{
  text-align: left;
}
.price{
  text-align: right;
}
.ticket{
  text-align: left;
}
.place{
  text-align: right;
}
.people{
  text-align: left;
}
.other{
  text-align: right;
} */