a {
  text-decoration: none;
}


/* ハンバーガーメニュー */
.hamburger-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger-overlay__line {
  position: absolute;
  left: 11px;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  transition: all .6s;
}

.hamburger-overlay__line:nth-of-type(1) {
  top: 14px;
}

.hamburger-overlay__line:nth-of-type(2) {
  top: 23px;
}

.hamburger-overlay__line:nth-of-type(3) {
  top: 32px;
}

.hamburger-overlay.active .hamburger-overlay__line {
  background-color: #fff;
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
  opacity: 0;
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(117, 117, 117, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: all .6s;
  z-index: 900;
}

.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav-overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav-overlay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-overlay__item {
  opacity: 0;
  transform: translateY(20px);
  transition: all .6s;
}

.nav-overlay.active .nav-overlay__item {
  opacity: 1;
  transform: translateY(0);
}

.nav-overlay.active .nav-overlay__item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-overlay.active .nav-overlay__item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-overlay.active .nav-overlay__item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-overlay.active .nav-overlay__item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-overlay.active .nav-overlay__item:nth-child(5) {
  transition-delay: 0.5s;
}

.nav-overlay__link {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-size: 150x;
  text-decoration: none;
  transition: color .3s;
}

/* 三転倒立とは */

body {
  font-family: 'Sawarabi Gothic', sans-serif;
  /* background-color: #181818; */
}


.santenInfo {
  position: relative;
}


/* メンバー */

.santenMember {
  margin-top: 2rem;
  background-image:
    linear-gradient(0deg, transparent 19px, #d3d3d3 20px),
    linear-gradient(90deg, transparent 19px, #d3d3d3 20px);
  background-size: 20px 20px;
  font-family: "Yomogi", cursive;

}

.nembertitle {
  margin: 2em 0;
  position: relative;
  padding: 1em 1.5em;
  border-top: solid 1.3px black;
  border-bottom: solid 1.3px black;
}


/* PC */
@media screen and (min-width: 767px) {

  .header_logo {
    position: absolute;
    width: 7%;
    height: auto;
    margin: 5px 0px 5px 5px;
  }

  /* 団体説明 */
  .santenAbout {
    display: flex;
  }

  .aboutSanten {
    height: 110vh;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0%;
    /* filter: drop-shadow(0 0 6px black); */
    /* border-radius: 3%; */
    float: right;

  }

  .santenText {
    display: block;
    margin-left: 15vh;
    z-index: 3;
    margin-top: 15vh;
    color: #000000;
    font-size: large;
    line-height: 2;
    font-family: "Yomogi", cursive;
  }

  /* メンバー紹介 */
  .santenMember {
    background-image:
      linear-gradient(0deg, transparent 19px, #d3d3d3 20px),
      linear-gradient(90deg, transparent 19px, #d3d3d3 20px);
    background-size: 20px 20px;
    font-family: "Yomogi", cursive;
    margin-top: 0;

  }

  .role {
    font-weight: 400;
  }

  .menberImg {
    margin: 1rem;
    width: 150px;
    /* ※縦横を同値に */
    height: 150px;
    /* ※縦横を同値に */
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;
    /* 横長画像の左上を基準に表示 */
  }

  .hinano {
    display: flex;
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 30px 60px / 60px 30px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .chiyo {
    display: flex;
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 60px 20px / 40px 50px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .mizuki {
    display: flex;
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 40px 50px / 70px 20px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .yukiko {
    display: flex;
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 70px 30px / 20px 60px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .honoka {
    display: flex;
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 70px 30px / 40px 60px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }
}

/* スマホ */
@media screen and (max-width: 767px) {

  .header_logo {
    position: absolute;
    z-index: 2;
    width: 13%;
    height: auto;
    margin: 5px 0px 5px 5px;

  }

  /* 団体説明 */
  .aboutSanten {
    width: 100%;
    /* height: auto; */
    z-index: 1;
    top: 0;
    filter: drop-shadow(0 0 6px black);
    border-radius: 3%;
    filter: sepia(70%) opacity(40%);
  }

  .santenText {
    position: absolute;
    margin: 0 0;
    z-index: 3;
    top: 15%;
    left: 1rem;
    color: #000000;
    font-size: small;
    line-height: 2;
  }

  /* メンバー紹介 */
  .santenMember {
    margin-top: 2rem;
    background-image:
      linear-gradient(0deg, transparent 19px, #d3d3d3 20px),
      linear-gradient(90deg, transparent 19px, #d3d3d3 20px);
    background-size: 20px 20px;
    font-family: "Yomogi", cursive;

  }

  .role {
    text-align: right;
  }

  .menberImg {
    display: block;
    margin: 0 auto;
    width: 150px;
    /* ※縦横を同値に */
    height: 150px;
    /* ※縦横を同値に */
    border-radius: 50%;
    /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;
    /* 横長画像の左上を基準に表示 */
  }

  .hinano {
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 30px 60px / 60px 30px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .chiyo {
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 60px 20px / 40px 50px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .mizuki {
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 40px 50px / 70px 20px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .yukiko {
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 70px 30px / 20px 60px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }

  .honoka {
    margin: 1rem;
    padding: 1.3rem 1rem;
    border-radius: 70px 30px / 40px 60px;
    /* 角をランダムに丸めて手書き風に */
    border: solid 1.5px #000000;
    /* 太めの枠線（8px、色: #ccc7be） */
  }
}

h4,
h5 {
  margin: 1px;
}